@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  margin: 0; }

.text-right {
  text-align: right; }

.custom-input {
  padding: 30px 0 0 0;
  position: relative; }
  @media (max-width: 414px) {
    .custom-input {
      margin: 2em 0; } }
  .custom-input:after, .custom-input:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #A8B8C4;
    bottom: 0;
    left: 0;
    transition: all 0.5s; }
  .custom-input:after {
    background-color: #8E8DBE;
    transform: scaleX(0); }
  .custom-input__label {
    display: block;
    font-size: 16px;
    transform: translateY(25px);
    color: #000;
    transition: all 0.5s; }
  .custom-input__input {
    position: relative;
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0;
    font-size: 16px; }

.active::after {
  transform: scaleX(1); }

.active .custom-input__label {
  color: #8E8DBE;
  text-transform: uppercase; }

.completed .custom-input__label {
  font-size: 12px;
  transform: translateY(0); }

.hide {
  display: none; }

.block {
  display: block;
  padding-right: 3em; }

.login__background {
  background: url(../img/fullscreen_bg_image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media (max-width: 414px) {
  .login {
    width: 100%;
    position: relative; }
  .login__background {
    background-image: none; } }

@media (min-width: 415px) {
  .login--panel {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 16px 0px rgba(58, 75, 93, 0.27);
    width: 29.7%;
    padding: 0 3.7%;
    height: 468px;
    margin: 0 auto;
    margin-top: 3em;
    background-color: #fff;
    border-radius: 4px; } }

@media (max-width: 858px) and (min-width: 503px) {
  .login--panel {
    width: 50%; } }

@media (max-width: 503px) and (min-width: 415px) {
  .login--panel {
    width: 70%; } }

@media (max-width: 414px) {
  .login--panel {
    padding: 0 3em; } }

.panel--header {
  margin-top: 2.5em;
  font-weight: 400;
  text-align: center;
  font-size: 24px;
  line-height: 1.042; }

@media (max-width: 414px) {
  .panel--header {
    font-size: 1.8em; } }

.panel__divider {
  background: #A8B8C4;
  width: 100%; }

@media (max-width: 414px) {
  .panel__divider {
    display: none; } }

.panel--terms {
  padding: 0 1em;
  margin: 1.5em 0;
  font-size: 14px;
  color: #A8B8C4;
  text-align: center; }
  .panel--terms__blue {
    color: #007ee5; }

@media (max-width: 414px) {
  .panel--terms {
    font-size: 1em;
    margin: 2em 0;
    padding: 0;
    line-height: 25px; } }

.panel--btn__login {
  height: 45px;
  line-height: 1.571;
  font-size: 14px;
  background-color: #007ee5;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px; }

@media (max-width: 414px) {
  .panel--btn__login {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    border-radius: 0; } }

.profile__backgroud {
  background-color: #f5f8f9;
  min-height: 100%; }

.user__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; }
  .user__container--info {
    width: 100%;
    margin-left: 2em; }

.menu {
  text-align: right;
  height: 10%; }
  .menu__link {
    text-decoration: none;
    font-weight: bold;
    color: #007ee5;
    text-transform: uppercase;
    font-size: 1em;
    margin-right: 2em; }
  @media (min-width: 415px) {
    .menu__link {
      border-radius: 4px;
      background-color: #fff;
      color: #007ee5;
      border: 1px solid #007ee5;
      padding: 8px 20px;
      font-size: 14px;
      margin-bottom: 3em; } }

.user__info {
  margin: 2em auto;
  text-align: center; }
  .user__info__image {
    width: 170px; }
  .user__info__tabs {
    height: 100%; }
  .user__info__name {
    margin-top: 1em;
    display: block;
    font-weight: 600;
    line-height: 1.2;
    font-size: 20px; }

.user__basics {
  padding: 0 2em;
  display: block;
  justify-content: center; }
  .user__basics__icon {
    font-size: 23px;
    margin-right: 0.4em;
    color: #a6b0b7; }
  .user__basics--modal {
    position: relative;
    margin-bottom: 0.3em; }
  .user__basics__title {
    padding: 0.3em;
    background-color: #f5f8f9; }
  .user__basics--flex {
    display: flex;
    align-items: center; }
  .user__basics--block {
    display: block;
    font-size: 14px;
    line-height: 1.846; }
  @media (min-width: 415px) {
    .user__basics--block {
      line-height: 0;
      margin: 0.5em 0; } }
  .user__basics__rating {
    font-size: 26px;
    color: #007ee5; }
  @media (min-width: 415px) {
    .user__basics__rating {
      color: #A8B8C4; } }

.tab-wrap {
  box-shadow: 0px 4px 16px 0px rgba(58, 75, 93, 0.27);
  width: 100%;
  position: relative;
  display: flex; }

@media (min-width: 415px) {
  .tab-wrap {
    width: 50%;
    box-shadow: none; } }

input[type="radio"][name="tabs"] {
  position: absolute;
  z-index: -1; }
  input[type="radio"][name="tabs"]:checked + .tab-label-content label {
    color: #000; }
  input[type="radio"][name="tabs"]:checked + .tab-label-content .tab-content {
    display: block; }
  input[type="radio"][name="tabs"]:nth-of-type(1):checked ~ .slide {
    left: calc((100% / 4) * 0); }
  input[type="radio"][name="tabs"]:nth-of-type(2):checked ~ .slide {
    left: calc((100% / 4) * 1); }
  input[type="radio"][name="tabs"]:nth-of-type(3):checked ~ .slide {
    left: calc((100% / 4) * 2); }
  input[type="radio"][name="tabs"]:nth-of-type(4):checked ~ .slide {
    left: calc((100% / 4) * 3); }
  input[type="radio"][name="tabs"]:first-of-type:checked ~ .slide {
    left: 0; }

.user__tabs__links {
  cursor: pointer;
  color: #000;
  background-color: #fff;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 56px;
  transition: color 0.2s ease;
  width: 100%; }

.slide {
  background: #007ee5;
  width: calc(100% / 4);
  height: 4px;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  transition: left 0.3s ease-out; }

.tab-label-content {
  width: 100%; }
  .tab-label-content .tab-content {
    position: absolute;
    width: 100%;
    line-height: 130%;
    display: none; }

@media screen and (max-width: 800px) {
  .tab-wrap {
    width: 100%;
    margin-top: 1em; } }

.profile {
  width: 100%;
  margin-top: 1em;
  padding: 1em;
  padding-bottom: 3em;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 4px 16px 0px rgba(58, 75, 93, 0.27); }
  @media (min-width: 415px) {
    .profile {
      width: 240%;
      margin-left: -13.5em;
      margin-bottom: 2em; } }
  @media (min-width: 803px) and (max-width: 1113px) {
    .profile {
      width: 270%; } }
  .profile__button--edit {
    padding: 8px;
    background-color: #f5f8f9;
    border-radius: 0;
    border: none;
    margin-right: 3em; }
    .profile__button--edit:hover {
      background-color: #007ee5;
      color: #fff; }
  .profile__header {
    font-weight: 300;
    font-size: 20px;
    color: #A8B8C4; }
  .profile__job {
    color: #A8B8C4;
    margin-bottom: 1em; }
  @media (min-width: 415px) {
    .profile__job {
      background-color: #f5f8f9;
      padding: 1em; } }

.menu--align {
  display: flex;
  justify-content: space-between;
  align-items: center; }

@media (min-width: 415px) {
  .mobile--hide {
    display: none; } }

.desktop__user {
  height: auto;
  position: relative;
  background-color: #fff;
  width: 90%;
  margin: 2em auto;
  box-shadow: 0px 4px 16px 0px rgba(58, 75, 93, 0.27);
  padding: 0 1em;
  padding-top: 2em; }

@media (max-width: 415px) {
  .desktop__user {
    display: none; } }

.btn--upload {
  background-color: #fff;
  padding: 10px 30px;
  position: absolute;
  left: 41%;
  top: 28%;
  border-radius: 2px;
  color: #A8B8C4;
  border: 1px solid #A8B8C4; }

.rating {
  display: flex;
  align-items: baseline;
  justify-content: space-between; }
  .rating--desktop {
    display: flex;
    align-items: center; }

.review {
  margin-left: 1em; }

.flex-position {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #A8B8C4;
  margin-top: 2em; }

.tabs--text {
  padding: 1em;
  background-color: #f5f8f9; }

.input__text {
  margin: 0; }

.modal {
  display: none;
  position: absolute;
  top: -41%;
  left: 24%;
  z-index: 9999;
  box-shadow: 0px 4px 16px 0px rgba(58, 75, 93, 0.27);
  padding: 0 1em;
  width: 20%;
  background: #fff; }
  @media (max-width: 1468px) and (min-width: 943px) {
    .modal {
      left: 15%; } }
  .modal--block {
    display: block; }
  .modal__btn {
    padding: 10px 30px;
    border-radius: 4px;
    margin: 1em 0; }
    .modal__btn--save {
      border: none;
      background: #007ee5;
      color: #fff; }
    .modal__btn--cancel {
      border: solid 1px #007ee5;
      background: #fff;
      margin-left: 2em;
      color: #007ee5; }
