html, body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.text-right {
  text-align: right;
}

.custom-input {
  padding: 30px 0 0 0;
  position: relative;

  @media (max-width: 414px) {
    margin: 2em 0;
  }

  &:after, &:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $primary-gray;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
  }


  &:after {
    background-color: #8E8DBE;
    transform: scaleX(0);
  }

  &__label {
    display: block;
    font-size: 16px;
    transform: translateY(25px);
    color: #000;
    transition: all 0.5s;
  }

  &__input {
    position: relative;
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0;
    font-size: 16px;
  }

}

.active::after {
  transform: scaleX(1);
}

.active .custom-input__label {
  color: #8E8DBE;
  text-transform: uppercase;
}

.completed .custom-input__label {
  font-size: 12px;
  transform: translateY(0);
}

.hide {
  display: none;
}

.block {
  display: block;
  padding-right: 3em;
}
