.login {

  &__background {
    background: url(../img/fullscreen_bg_image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    }

    @media(max-width: 414px) {
      & {
        width: 100%;
        position: relative;
      }

      &__background {
        background-image: none;
      }
  }

  @media(min-width: 415px) {
    &--panel {
      display: flex;
      flex-direction: column;
      box-shadow: 0px 4px 16px 0px rgba(58, 75, 93, 0.27);
      width: 29.7%;
      padding: 0 3.7%;
      height: 468px;
      margin: 0 auto;
      margin-top: 3em;
      background-color: #fff;
      border-radius: 4px;
    }
  }

  @media (max-width: 858px) and (min-width: 503px) {
    &--panel {
      width: 50%;
    }
  }

  @media (max-width: 503px) and (min-width: 415px) {
    &--panel {
      width: 70%;
    }
  }

  @media (max-width: 414px) {
    &--panel {
      padding: 0 3em;
    }
  }

}

.panel {
  &--header {
    margin-top: 2.5em;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    line-height: 1.042;
  }

  @media (max-width: 414px) {
    &--header {
      font-size: 1.8em;
    }
  }

  &__divider {
    background: $primary-gray;
    width: 100%;
  }

  @media(max-width: 414px) {
    &__divider {
      display: none;
    }
  }

  &--terms {
    padding: 0 1em;
    margin: 1.5em 0;
    font-size: 14px;
    color: $primary-gray;
    text-align: center;

    &__blue {
      color: $primary-blue;
    }
  }

  @media(max-width: 414px) {
    &--terms {
      font-size: 1em;
      margin: 2em 0;
      padding: 0;
      line-height: 25px;
    }
  }

  &--btn__login {
    height: 45px;
    line-height: 1.571;
    font-size: 14px;
    background-color: $primary-blue;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
  }

  @media(max-width: 414px) {
    &--btn__login {
      position: fixed;
      bottom: 0;
      width: 100%;
      left: 0;
      border-radius: 0;
    }
  }
}
