.profile__backgroud {
  background-color: #f5f8f9;
  min-height: 100%;
}

.user {
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    &--info {
      width: 100%;
      margin-left: 2em;
    }
  }
}

.menu {
  text-align: right;
  height: 10%;

  &__link {
    text-decoration: none;
    font-weight: bold;
    color: $primary-blue;
    text-transform: uppercase;
    font-size: 1em;
    margin-right: 2em;
  }

  @media (min-width: 415px ) {
    &__link {
      border-radius: 4px;
      background-color: #fff;
      color: $primary-blue;
      border: 1px solid $primary-blue;
      padding: 8px 20px;
      font-size: 14px;
      margin-bottom: 3em;
    }
  }
}

.user {
  &__info {
    margin: 2em auto;
    text-align: center;

    &__image {
      width: 170px;
    }

    &__tabs {
      height: 100%;
    }


    &__name {
      margin-top: 1em;
      display: block;
      font-weight: 600;
      line-height: 1.2;
      font-size: 20px;
    }
  }

  &__basics {
    padding: 0 2em;
    display: block;
    justify-content: center;

    &__icon {
      font-size: 23px;
      margin-right: 0.4em;
      color: #a6b0b7;
    }

    &--modal {
      position: relative;
      margin-bottom: 0.3em;
    }

    &__title {
      padding: 0.3em;
      background-color: #f5f8f9;
    }

    &--flex {
      display: flex;
      align-items: center;
    }

    &--block {
      display: block;
      font-size: 14px;
      line-height: 1.846;
    }

    @media(min-width: 415px) {
      &--block {
        line-height: 0;
        margin: 0.5em 0;
      }
    }

    &__rating {
      font-size: 26px;
      color: $primary-blue;
    }

    @media(min-width: 415px) {
      &__rating {
        color: $primary-gray;
      }
    }
  }
}

$num-of-tabs: 4;

@mixin tabs {
  @for $i from 1 through $num-of-tabs {
    &:nth-of-type(#{$i}) {
      &:checked {
        ~ .slide {
          left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
        }
      }
    }
  }
}

.tab-wrap {
  box-shadow: 0px 4px 16px 0px rgba(58, 75, 93, 0.27);
  width: 100%;
  position: relative;
  display: flex;
}

@media(min-width: 415px) {
  .tab-wrap {
    width: 50%;
    box-shadow: none;
  }
}

input[type="radio"][name="tabs"] {
  position: absolute;
  z-index: -1;
  &:checked {
    + .tab-label-content {
      label {
        color: #000;
      }
      .tab-content {
        display: block;
      }
    }
  }
  @include tabs;
  &:first-of-type {
    &:checked {
      ~ .slide {
        left: 0;
      }
    }
  }
}

.user__tabs__links {
  cursor: pointer;
  color: #000;
  background-color: #fff;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 56px;
  transition: color 0.2s ease;
  width: 100%;
}

.slide {
  background: $primary-blue;
  width: calc(100% / #{$num-of-tabs});
  height: 4px;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  transition: left 0.3s ease-out;
}

.tab-label-content {
  width: 100%;
  .tab-content {
    position: absolute;
    width: 100%;
    line-height: 130%;
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .tab-wrap {
    width: 100%;
    margin-top: 1em;
  }
}

.profile {
  width: 100%;
  margin-top: 1em;
  padding: 1em;
  padding-bottom: 3em;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 4px 16px 0px rgba(58, 75, 93, 0.27);

  @media(min-width: 415px) {
    width: 240%;
    margin-left: -13.5em;
    margin-bottom: 2em;
  }

  @media(min-width: 803px) and (max-width: 1113px) {
    width: 270%;
  }

  &__button--edit {
    padding: 8px;
    background-color: #f5f8f9;
    border-radius: 0;
    border: none;
    margin-right: 3em;

    &:hover {
      background-color: $primary-blue;
      color: #fff;
    }
  }

  &__header {
    font-weight: 300;
    font-size: 20px;
    color: $primary-gray;
  }

  &__job {
    color: $primary-gray;
    margin-bottom: 1em;
  }

  @media(min-width: 415px) {
    &__job {
      background-color: #f5f8f9;
      padding: 1em;
    }
  }
}

.menu--align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (min-width: 415px) {
  .mobile--hide {
    display: none;
  }
}

.desktop__user {
  height: auto;
  position: relative;
  background-color: #fff;
  width: 90%;
  margin: 2em auto;
  box-shadow: 0px 4px 16px 0px rgba(58, 75, 93, 0.27);
  padding: 0 1em;
  padding-top: 2em;
}

@media (max-width: 415px)  {
  .desktop__user {
    display: none;
  }
}

.btn {
  &--upload {
    background-color: #fff;
    padding: 10px 30px;
    position: absolute;
    left: 41%;
    top: 28%;
    border-radius: 2px;
    color: $primary-gray;
    border: 1px solid $primary-gray;
  }
}

.rating {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  &--desktop {
    display: flex;
    align-items: center;
  }
}

.review {
  margin-left: 1em;
}

.flex-position {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $primary-gray;
  margin-top: 2em;
}

.tabs--text {
  padding: 1em;
  background-color: #f5f8f9;
}

.input__text {
  margin: 0;
}

.modal {
  display: none;
  position: absolute;
  top: -41%;
  left: 24%;
  z-index: 9999;
  box-shadow: 0px 4px 16px 0px rgba(58, 75, 93, 0.27);
  padding: 0 1em;
  width: 20%;
  background: #fff;

  @media(max-width: 1468px) and (min-width: 943px) {
    left: 15%;
  }

  &--block {
    display: block;
  }


  &__btn {
    padding: 10px 30px;
    border-radius: 4px;
    margin: 1em 0;

    &--save {
      border: none;
      background: $primary-blue;
      color: #fff;
    }

    &--cancel {
      border: solid 1px $primary-blue;
      background: #fff;
      margin-left: 2em;
      color: $primary-blue;
    }
  }
}
