.login {
  height: 100%;
  width: 100%; }
  .login__background {
    background: url(../img/fullscreen_bg_image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .login--panel {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 2em;
    min-height: 300px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px; }

.panel--header {
  text-align: center; }
